.base {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  @apply border-gray-400 border-2 bg-neutral-800 caret-main-400;
  outline: none;
  border-radius: 12px;
  height: 54px;
  width: 54px;
  cursor: text;
  font-size: 24px;
  font-weight: 600;
  padding-left: 18px;
  &:focus-visible {
    @apply border-main-400;
  }
}
