.base {
  display: flex;
  flex-direction: column;
  width: var(--base-tab-list-width, fit-content);
}
.nav {
  display: flex;
  overflow: auto hidden;
  gap: var(--base-tab-list-gap, 4px);
  position: relative;
  background-color: var(--base-tab-list-nav-background, #09090b);
  background-image: var(--base-tab-list-nav-background-image, none);
  padding: var(--base-tab-list-padding, 4px);
  max-width: 100%;
  border-radius: var(--base-tab-list-nav-radius, 8px);
  width: var(--base-tab-list-nav-width, fit-content);
  &::-webkit-scrollbar {
    height: var(--nav-scroll-size, 0);
  }
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
  }
}

.roller {
  position: absolute;
  height: calc(100% - var(--base-tab-list-roller-height ,8px));
  border-radius: var(--base-tab-list-roller-radius, 7px);
  background-color: var(--base-tab-list-roller-bg, #181818);
  z-index: 1;
  transition-property: transform, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.track {
  position: absolute;
  display: none;
  height: 1px;
  bottom: 0;
  margin: 0;
  border: none;
  width: 100%;
  background-color: transparent;
  transition-property: transform, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.tab {
  color: var(--base-tab-list-item-color, #a3a3a3);
  font-size: var(--base-tab-list-item-font-size, 16px);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: var(--base-tab-list-item-gap, 12px);
  align-items: center;
  white-space: var(--base-tab-list-item-whitespace, nowrap);
  justify-content: center;
  width: var(--base-tab-list-item-width, auto);
  padding: var(--base-tab-list-item-padding, 12px 28px);
  z-index: 2;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @include mobile {
    padding: var(--base-tab-list-item-padding, 12px 23px);
    font-size: var(--base-tab-list-item-font-size, 14px);
    gap: var(--base-tab-list-item-gap, 12px);
  }
  &:hover {
    color: var(#dce1e5);
  }
}
.tabImg {
  width: 22px;
  border-radius: 3px;
}
.activeTab {
  color: #f9f9f9;
  .tabIcon {
    color: #ff9a08;
  }
}
.tabIcon {
  border-radius: 3px;
  color: #8d98ae;
  --base-icon-size: var(--base-tab-list-item-icon-size, 24px);
  transition: color 0.25s ease-in-out;
}
.fullTab {
  .nav {
    --base-tab-list-gap: 0;
    --base-tab-list-nav-width: 100%;
    border-radius: 16px 0 0;
    padding: 0;
    flex-shrink: 0;
    @include tablet {
      border-radius: 0;
    }
  }
  .tab {
    --base-tab-list-item-padding: 22px 0px;
    --base-tab-list-item-border-radius: 0;
    --base-tab-list-item-width: auto;
    flex-grow: 1;
    background-color: #20222e;
    color: #595b6f;
    border-bottom: 1px solid transparent;
    --base-tab-list-item-font-size: 14px;
    font-weight: 700;
    line-height: 16.93px;
    text-transform: uppercase;
    transition: border-bottom 0.5s ease;
    width: 180px;
    height: 60px;
    @media (any-hover: hover) {
      &:hover {
        color: #ff9a08;
      }
    }
    @include mobile {
      height: 48px;
    }
  }

  .activeTab {
    color: #ff9a08;
    border-bottom: 1px solid #ff9a08;
  }
}

.highlightedTab{
  --base-tab-list-item-padding: 12px 16px;
  --base-tab-list-item-border-radius: 8px;
  --base-tab-list-item-width: auto;
  --base-tab-list-gap: 8px;
  --base-tab-list-item-font-size: 14px;

  font-weight: 600;


  .tab{
    background: transparent;
    color: #6A6B70;

    @media (any-hover: hover) {
      &:hover {
        color: #f9f9f9;
        .tabIcon{
          color: #f9f9f9;
        }
      }
    }

    .tabIcon{
      color: #6A6B70;
    }
  }

  .activeTab {
    color: #f9f9f9;
    background-color: #2f2f2f;
    pointer-events: none;

    .tabIcon{
      color: #ff9a08;
    }
  }
}