@import "tailwindcss";
@import "@nuxt/ui";


.containerPage {
    @apply px-8 pt-4 mx-auto w-full max-dk:px-8 max-tb:px-6 max-mb:px-3;
}

@theme {
    --breakpoint-dk: 1920px;
    --breakpoint-tb: 1153px;
    --breakpoint-mb: 768px;
}


/*dk: { raw: '(min-width: 1920px)' },*/
/*lp: { raw: '(max-width: 1919px) and (min-width: 1153px)' },*/
/*mb: { raw: '(max-width: 768px)' },*/
/*tb: { raw: '(max-width: 1152px) and (min-width: 769px)' },*/

/*.containerPage {*/
/*    @apply px-8 pt-4 mx-auto w-full;*/
/*}*/

/*.containerPage {*/
/*    @apply px-8 pt-4 mx-auto w-full lp:px-8 tb:px-6 mb:px-3;*/
/*}*/