// html {
//   scroll-behavior: smooth;
// }
//
//@tailwind base;
//@tailwind components;
//@tailwind utilities;

body {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #e4e4e7;
  background-color: #171717;
  -webkit-font-smoothing: antialiased;
  --headerHeightCollections: 61px;
  @include mobile {
    --headerHeightCollections: 53px;
  }
}

// body,
// div {
//   scrollbar-width: thin;
// }

//.containerPage {
//  @apply px-8 pt-4 mx-auto w-full lp:px-8 tb:px-6 mb:px-3;
//}

.hideDesktop {
  @include desktop {
    display: none !important;
  }
}
.hideLaptop {
  @include laptop {
    display: none !important;
  }
}
.hideTablet {
  @include tabletOnly {
    display: none !important;
  }
}
.hideMobile {
  @include mobile {
    display: none !important;
  }
}

body,
div {
  ::-webkit-scrollbar-corner {
    background-color: theme('colors.neutral.800');
    border-radius: 0 0 6px 0;
  }
  &::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    cursor: default;
    background-color: theme('colors.neutral.800');
    // background-color: transparent;
    margin: 0;
  }

  &::-webkit-scrollbar-thumb {
    cursor: default;
    border: 2.5px solid transparent;
    // background-color: theme('colors.neutral.700/80%');
    border-radius: 8px;
    box-shadow: inset 0 0 10px 10px theme('colors.neutral.600');
    &:hover {
      box-shadow: inset 0 0 10px 10px theme('colors.neutral.500/80%');
    }
  }
}
