# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
components.d.ts
auto-imports.d.ts
public/static-media-frontend/locale/*.json

# Optional eslint cache
.eslintcache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example