body {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #e4e4e7;
  background-color: #171717;
  -webkit-font-smoothing: antialiased;
  --headerHeightCollections: 61px;
}

@media (max-width: 640px) {
  body {
    --headerHeightCollections: 53px;
  }
}

@media (min-width: 1280px) {
  .hideDesktop {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .hideLaptop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hideTablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hideMobile {
    display: none !important;
  }
}

body,
div {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-corner,
div::-webkit-scrollbar-corner {
  background-color: #27272a;
  border-radius: 0 0 6px 0;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  cursor: default;
  background-color: #27272a;
  margin: 0;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  cursor: default;
  border: 2.5px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px #52525b;
}

body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgba(82, 82, 91, 0.8);
}