:global {
  .baseTransitionHeight {
    &-enter-active,
    &-leave-active {
      will-change: height;
      transition:
        height 2s ease,
        opacity 2s ease;
      overflow: hidden;
    }

    &-enter-from,
    &-leave-to {
      height: 0 !important;
      opacity: 0;
    }
  }
}
.expand {
  transition-timing-function: ease-in-out !important;
  transition-property: height, padding-top, padding-bottom !important;
  overflow: hidden !important;
}
